{% extends "@FOSUser/layout.html.twig" %}
{% block body %}
    <div style="background-color: #bdbdbd">
    <br><br><br><br><br><br><br><br>
    <div class="container" style="margin-left: 25%">
    <div class="row">
    <h1 style="margin-left: 27%">Confirmation</h1>

    <div class="col-sm-8">

    <div class="r-bg">
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <p>{{ 'Enregistrement effectuée avec succès. un e-mail de confirmation a été envoyé sur votre e-mail '|trans({'%email%': user.email}) }}</p>
{% endblock fos_user_content %}
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock body %}